.SSI
  .SSI__text
    if banner == 'banner_1'
      |ВПЧ - вирус папилломы человека
      br
    |RU-NON-00919 от 02.2022
    br
    |Информация предоставлена при поддержке ООО «МСД Фармасьютикалс»
    br
    |Россия, 119021, Москва, ул. Тимура Фрунзе, д. 11, корп. 1.
    br  
    |www.msd.ru Тel.: +7 495 916 7100 Fax: +7 495 916 7094
  .SSI__warning
    |Имеются противопоказания. 
    |Необходимо проконсультироваться со специалистом
