-var fairy = './img/banner_3/fly.png'

.trees.left
.trees.right
.st_2.trees

.bushes.left-1
.bushes.left-2
.bushes.right-1
.bushes.right-2

.st_0.leaves.left
.st_0.leaves.right
.st_0.fairy.levitation
    img(src=fairy)

.st_1.leaves.left
.st_1.leaves.right
.st_1.fairy.levitation
    img(src=fairy)

.st_4.leaves.left
.st_4.leaves.right

